<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaxiaohudong.dao.CommonStudentMapper" >
  <resultMap id="studentResult" type="com.jiaxiaohudong.entity.CommonStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="studentId" property="studentid" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
    <result column="birthday" property="birthday" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="question" property="question" jdbcType="INTEGER" />
    <result column="answer" property="answer" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="grad" property="grad" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, studentId, icon, phone, birthday, sex, pid, tid, question, answer, addtime, 
    status, grad
  </sql>
  <select id="selectByPrimaryKey" resultMap="studentResult" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from common_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStudentId" resultMap="studentResult" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from common_student
    where studentId = #{studentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from common_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiaxiaohudong.entity.CommonStudent" >
    insert into common_student (id, name, studentId, 
      icon, phone, birthday, 
      sex, pid, tid, question, 
      answer, addtime, status, 
      grad)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{studentid,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT}, #{birthday,jdbcType=INTEGER}, 
      #{sex,jdbcType=TINYINT}, #{pid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{question,jdbcType=INTEGER}, 
      #{answer,jdbcType=INTEGER}, #{addtime,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{grad,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaxiaohudong.entity.CommonStudent" >
    insert into common_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="studentid != null" >
        studentId,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="grad != null" >
        grad,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="question != null" >
        #{question,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="grad != null" >
        #{grad,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaxiaohudong.entity.CommonStudent" >
    update common_student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null" >
        studentId = #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="grad != null" >
        grad = #{grad,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaxiaohudong.entity.CommonStudent" >
    update common_student
    set name = #{name,jdbcType=VARCHAR},
      studentId = #{studentid,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      birthday = #{birthday,jdbcType=INTEGER},
      sex = #{sex,jdbcType=TINYINT},
      pid = #{pid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      question = #{question,jdbcType=INTEGER},
      answer = #{answer,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      grad = #{grad,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTid" resultType="com.jiaxiaohudong.entity.CommonStudent" parameterType="Integer">
    select id, name,icon, tid, studentId from common_student where tid = #{tid}
  </select>
  <select id="selectByTidAndName" resultType="com.jiaxiaohudong.entity.CommonStudent" parameterType="com.jiaxiaohudong.entity.CommonStudent">
    select id, name,icon, tid, studentId from common_student where tid = #{tid} and name like #{name}
  </select>
</mapper>