<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaxiaohudong.dao.CommonQuestionMapper" >
  <resultMap id="questionResult" type="com.jiaxiaohudong.entity.CommonQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="answer" property="answer" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, name, question, detail, uid, sid, star, answer, addtime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="questionResult" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from common_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from common_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiaxiaohudong.entity.CommonQuestion" >
    insert into common_question (id, cid, name, 
      question, detail, uid, sid,
      star, answer, addtime, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{question,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER},
      #{sid,jdbcType=INTEGER},
      #{star,jdbcType=INTEGER}, #{answer,jdbcType=INTEGER}, #{addtime,jdbcType=BIGINT},
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jiaxiaohudong.entity.CommonQuestion" >
    insert into common_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiaxiaohudong.entity.CommonQuestion" >
    update common_question
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        uid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiaxiaohudong.entity.CommonQuestion" >
    update common_question
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      answer = #{answer,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCommonQuestion" parameterType="com.jiaxiaohudong.entity.CommonQuestion" resultType="com.jiaxiaohudong.entity.CommonQuestion">
    SELECT * FROM common_question
    WHERE 1=1

    <if test="cid != null" >
      AND cid = #{cid,jdbcType=INTEGER},
    </if>
    <if test="name != null" >
      AND name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="question != null" >
      AND question = #{question,jdbcType=VARCHAR},
    </if>
    <if test="detail != null" >
      AND detail = #{detail,jdbcType=VARCHAR},
    </if>
    <if test="uid != null" >
      AND uid = #{uid,jdbcType=INTEGER},
    </if>
    <if test="sid != null" >
      AND sid = #{uid,jdbcType=INTEGER},
    </if>
    <if test="star != null" >
      AND star = #{star,jdbcType=INTEGER},
    </if>
    <if test="answer != null" >
      AND answer = #{answer,jdbcType=INTEGER},
    </if>
    <if test="addtime != null" >
      <![CDATA[  AND addtime >= #{addtime,jdbcType=BIGINT},
      AND addtime < #{addtime,jdbcType=BIGINT} + 604800 ]]>
    </if>
    <if test="status != null" >
      AND status = #{status,jdbcType=TINYINT},
    </if>
  </select>
</mapper>